<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Artii</title>
</head>
<body>
  <form action="/services/artii_result/">
    <label for="name">이름: </label>
    <input id="name" type="text" name="name"><br>
    <label for="font">폰트: </label>
    <select name="font" id="font">
      <option value="rounded">rounded</option>
      <option value="acrobatic">acrobatic</option>
      <option value="alligator">alligator</option>
      <option value="short">short</option>
      <option value="type_set">type_set</option>
    </select>
    <input type="submit" value="제출">
  </form>
</body>
</html>